body {
  margin: 0;
}

div {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 208, 0);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
}

input[type="file"] {
  width: 95px;
}