.button#switch {
  bottom: 1rem;
  right: 2vw;
  z-index: 999;
}

.dark {
  --primary-color: rgba(255, 235, 55, 0.95);
  background-color: rgb(30, 30, 30);
  transition: all 1s ease-in-out;
}

.dark .button {
  background-color: rgb(17, 17, 17);
}

.dark svg {
  fill: var(--primary-color);
}