.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted rgb(51, 51, 51);
}
.tooltip .tiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(51, 51, 51);
  color: rgb(201, 201, 201);
  font-size: 18px;
  text-align: center;
  border-radius: 3px;
  padding: 6px 0;
  position: absolute;
  z-index: 1;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.tooltip .tiptext::after {
  content: "";
  position: absolute;
  border-width: 5px;
  border-style: solid;
}
.tooltip:hover .tiptext {
  visibility: visible;
}

.tooltip.left .tiptext{
  top: 15px;
  right: 130%;
}
.tooltip.left .tiptext::after{
  margin-top: -5px;
  top: 50%;
  left: 100%;
  border-color: transparent transparent transparent #2E2E2E;
}