:root {
  --primary-color: rgb(255, 220, 40);
  --dark-color: rgb(41, 41, 41);
}

.stage {
  display: flex;
  min-height: 50vh;
  background-color: var(--dark-color);
  overflow: hidden;
}

.ball {
  margin: auto;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--primary-color);
}